body{
    background-image: url('https://github.com/matthijs12310/matthijs12310.github.io/raw/master/tEI.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}