body {
    font-family: sans-serif;
    text-color: white;
    background-image: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    color: white;
  }
  
  .greeting {
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  html{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }