.help{

}
.welcome{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 400%;
  margin-bottom: 0px;
  color: white;

}
.pphard{
  text-align: center;
  font-family: 'DM Mono', monospace;
  color: white;
}
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
.roblox{
  align-content: center;
  display:block;text-align:center;
  font-size: 150%;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  margin-left: 0%;

}
.div1{
  margin: auto;
  width: 7%;
  padding: 10px;
  text-align: center;

}
.roblox2{
  align-content: center;
  display:block;text-align:center;
  font-size: 150%;
  margin-top: 20%;
  font-family: 'Roboto', sans-serif;
  margin-left: 0%;

}
