html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
.word{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 400%;
  margin-bottom: 0px;
  color: white;
}
.file{
  align-content: center;
  display:block;text-align:center;
  font-size: 150%;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;

}
